.row{
    margin: 80px
}

.miestilo {
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

.micapa {
    color: rgb(118, 235, 64);
}

body {
    text-align: center;
    padding-top: 20px;
}

h1 {
    margin: 20px;
    color: rgba(62, 216, 24, 0.822);
}

.usuario > .col-md-9 > p > b{
    text-transform: capitalize;

}